*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
.cloud
#.storage
*.storage/cloud
*.storage/auth*
.uuid
core.*
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
deps
__pycache__
tts
secrets.yaml
secrets
known_devices.yaml
.homekit.state
phue.conf
ios.conf
